In [1]:
import pandas as pd

In [150]:
brands=pd.read_csv("topic50/topic33brands.csv")
tags=pd.read_csv("topic50/topic33tags.csv")

brands=brands.rename(columns={'0':'brand','1':'counts'})
brands.counts=brands.counts/brands.counts.sum()

tags=tags.rename(columns={'0':'tag','1':'counts'})
tags.counts=tags.counts/tags.counts.sum()

In [151]:
brands[0:10]

         brand    counts
0   petit main  0.118738
1          西松屋  0.066790
2  GLOBAL WORK  0.048980
3     BRANSHES  0.041929
4     OLD NAVY  0.039703
5      babyGAP  0.035622
6     Birthday  0.033395
7          H&M  0.029314
8     CONVERSE  0.027458
9       UNIQLO  0.025974

In [152]:
tags[0:20]

            tag    counts
0     キッズファッション  0.096224
1        キッズコーデ  0.074706
2         おんなのこ  0.067397
3           女の子  0.051563
4            1歳  0.045067
5         おとこのこ  0.040195
6            秋冬  0.038165
7            2歳  0.037759
8           男の子  0.036135
9        キッスコーデ  0.034511
10       男の子コーデ  0.032481
11         kids  0.029639
12           3歳  0.023549
13       プティマイン  0.019488
14  kidsfashion  0.017864
15       リンクコーデ  0.014210
16           一歳  0.012180
17   petit main  0.009744
18       ハンドメイド  0.009744
19         モカシン  0.008932

06 オトナ女子
08 大学生高校生
09 大学生
14 渋谷109
19 ストリート
24 ミリタリー
25 ぽっちゃりママ
28 ストリート
32 アウトドア